.productpage_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

.product {
    display: flex;


    &_images{
        max-width: 320px;
        width: 100%;
        display: flex;
        flex-direction: column; 
        
    }

    &_image-main {
        max-height: 300px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
        cursor: pointer;
    }

    &_buy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
    }

    &_price {
        color: #206EBC;
        font-size:18px;
        font-weight: bold;
    }

    &_count {
        width: 50px;
        height: 32px;
        border: 1px solid #74AEE7;
        border-radius: 30px;
        margin: 0 10px;
        outline: none;
        text-align: center;
    }

    &_buy-button {
        width: 80px;
        height: 35px;
        font-size: 14px;
        color: #206EBC;
        background-color: transparent;
        border: 1px solid #74AEE7;
        border-radius: 30px;
        outline: none;
        font-weight: bold;
        cursor: pointer;
    }

    &_buy-button:active {
        background-color: #74AEE7;
        color: #fff;
    }

    &_info {
        width: 575px;
        margin-left: 160px;
        text-align: justify;
    }

    &_name {
        font-size: 24px;
        font-weight: 300;
    }

    &_code {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.42);
        margin-top: 18px;
    }

    &_description{
        margin-top: 40px;
    }

    &_recomended{
        align-self: center;
        width: 100%;
        margin-top: 69px;
    }

    &_recomended-header {
        font-size: 18px;
        font-weight: bold;
        color: #206EBC;
        text-align: center;
        padding-bottom: 58px;
    }

    &_feedback {
       
        margin-top: 50px;
        width: 100%;
    }

}
.box_recomended {
    width: 100%;
    display: flex;
    justify-content: center;
}

.box_recomended > .box {
    margin-left: 45px;
}

.bottom_image {
    width: 100px;
    height: 86px;
    object-fit: contain;
    cursor: pointer;
}

.review {

    color: #206EBC;
    font-weight: bold;
    font-size: 18px;
    text-align: center;


    &_box {
        margin-left: 135px;
        margin-top: 15px;
    }

    &_header {
        display: flex;
        align-items: center;
    }

    &_name {
        font-weight: bold;
    }

    &_body {
        margin: 25px 0 0 20px;
        max-width: 750px;
    }

    &_rating {
        margin-left: 10px;
    }

   

    &_button {
        display: block;
        margin: 25px auto 0 auto;
        width: 222px;
        height: 56px;
        border: 1px solid #74AEE7;
        border-radius: 30px;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        color: #206EBC;
        font-weight: bold;
    }
    &_button:active {
        background-color: #74AEE7;
        color: #fff;
    }

}

.blue_star {
    color: #206EBC;
    
}

.gray_star {
   color: #C4C4C4;
}

.feedback-area-box{
    width: 700px;
    height: 200px;
    margin: 40px auto;
    display: none;

}

.feedback-area {
    width: 700px; 
    height: 200px;
    resize: none;
    border-color: #206EBC;
    border-radius: 30px;
    outline: none;
    padding: 30px;
}

.mark-select {
    margin: 0 0 10px 20px;
    width: 40px;
    height: 20px;
    border: 1px solid #206EBC;
    border-radius: 30px;
    outline: none;
}

.button-save {
    display: block;
        margin-left: 10px;
        margin-top: 10px;
        width: 110px;
        height: 35px;
        border: 1px solid #74AEE7;
        border-radius: 30px;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        color: #206EBC;
        font-weight: bold;
}

.edit_input {
    padding: 5px;
    border: 1px solid #74AEE7;
    border-radius: 30px;
    display: block;
    outline: none;
}

.edit_area {
    width: 575px;
    resize: none;
    height: 300px;
    border: 1px solid #74AEE7;
    border-radius: 30px;
    padding: 10px;
    outline: none;

}

.stock {
    margin: 5px 0;
    color: #206EBC;
}

.discount_ {
    color: #67CA0E;
    font-weight: bold;
}

.bought {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #67CA0E;
    font-weight: bold;
}

.button-visibility {
    margin-top: 25px;
    width: 150px;
    height: 30px;
    border: 1px solid #206EBC;
    border-radius: 30px;
    background-color: transparent;
    color: #206EBC;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
}

.button-visibility:hover {
    color: #fff;
    background-color: #206EBC;
}
.div-photo {
    margin-top: 10px;
}

.send-photo {
    width: 100px;
    height: 30px;
    border: 1px solid #206EBC;
    border-radius: 30px;
    background-color: transparent;
    color: #206EBC;
    outline: none;
    cursor: pointer;
}

.send-photo:hover {
    color: #fff;
    background-color: #206EBC;
}