@import './base.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

body{
    min-height: 100vh;
}

#root {
    min-height: 100vh;
}

.main {
    min-height: calc(100vh - 135px);
}

.loading {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    color: #74AEE7;

}