.admin_wrapper {
    display: flex;
    margin-top: 45px;
}

.admin_order-wrapper {
    width: 100%;
    max-width: 805px;
    border: 2px solid #206EBC;
    border-radius: 30px;
    box-shadow: 5px 4px 5px #74AEE7;
    padding: 15px 15px 20px 15px;
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 3%;
}

.wrapper-aorder-inf {
    width: 100%;
    max-width: 805px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.aorder-search {
   
}

.admin_input-search {
    border: 2px solid #206EBC;
    border-radius: 30px;
    width: 400px;
    height: 35px;
    padding: 0 10px;
    font-weight: bold;
    outline: none;
}

.admin_button-search {
    border: 2px solid #206EBC;
    margin-left: 10px;
    width: 100px;
    border-radius: 30px;
    height: 35px;
    background-color: transparent;
    outline: none;
    color: #206EBC;
    cursor: pointer;
}

.admin_button-search:hover {
    background-color: #206EBC;
    color: #fff;
}

.admin_add-product {
    border: 1px solid black;
    margin-left: 15%;
    padding: 30px;
    border: 2px solid rgb(88, 156, 224);
    border-radius: 30px;
    box-shadow: 5px 4px 5px rgba(88, 156, 224, 0.47);
}

.add_product{

    &-name {
        color: #206EBC;
        font-weight: bold;
    }

    &-name-input {
        width: 300px;
        margin-left: 30px;
        border: 1px solid rgb(88, 156, 224);
        height: 30px;
        border-radius: 30px;
        outline: none;
        font-size: 18px;
        padding-left: 15px;
    }
    &-manufacture {
        color: #206EBC;
        font-weight: bold;
    }
    &-manufacture-input {
        margin-top: 30px;
        width: 300px;
        margin-left: 30px;
        border: 1px solid rgb(88, 156, 224);
        height: 30px;
        border-radius: 30px;
        outline: none;
        font-size: 18px;
        padding-left: 15px;
    }

    &-count {
        color: #206EBC;
        font-weight: bold;
    }

    &-count-input {
        margin-top: 30px;
        width: 100px;
        margin-left: 30px;
        border: 1px solid rgb(88, 156, 224);
        height: 30px;
        border-radius: 30px;
        outline: none;
        font-size: 18px;
        padding-left: 15px;
    }

    &-discount {
        color: #206EBC;
        font-weight: bold;
    }

    &-discount-input {
        margin-top: 30px;
        width: 100px;
        margin-left: 30px;
        border: 1px solid rgb(88, 156, 224);
        height: 30px;
        border-radius: 30px;
        outline: none;
        font-size: 18px;
        padding-left: 15px;
    }

    &-description {
        resize: none;
        width: 500px;
        height: 200px;
        margin-top: 30px;
        border: 1px solid rgb(88, 156, 224);
        border-radius: 30px;
        outline: none;
        font-size: 14px;
        padding: 15px;
    }


    &-button {
        margin-top: 30px;
        width: 100%;
        height: 50px;
        background-color: transparent;
        border: 1px solid #206EBC;
        border-radius: 50px;
        color: #206EBC;
        font-size: 16px;
        font-weight: bold;
    }
    &-button:hover {
        background-color: #206EBC;
        color: #fff;
        cursor: pointer;
    }


}