.abar {

    width: 100%;
    max-width: 300px;
   height: 100%;
    
    
   border: 2px solid rgb(88, 156, 224);
    border-radius: 30px;
    box-shadow: 5px 4px 5px rgba(116, 174, 231, 0.47);




    &_button {
        width: 100%;
        padding: 30px;
        border-radius: 30px;
        border: none;
        background-color: transparent;
        color: #206EBC;
        font-weight: bold;
        outline: none;
        cursor: pointer;
    }

    &_button:hover {
        background-color: #206EBC;
        color: #fff;

    }
}