.main {
    &_sortbar {
        width: 210px;
        height: 380px;
        border: 2px solid #74AEE7;
        border-radius: 30px;
        box-shadow: 5px 4px 5px rgba(116, 174, 231, 0.47);
        padding: 27px 27px;
        display: flex;
        flex-direction: column;   
    }

    &_sortbar-producer {
        font-weight: bold;
        color: #206EBC;
    }

    &_sortbar-producer_item {
        color: #74AEE7;
        margin-top: 18px;
        font-size: 14px;
        padding-left: 14px;
       
    }
    
    &_sortbar-price {
        font-weight: bold;
        color: #206EBC;
        margin-top: 21px;
    }

    &_sortbar-price_input {
        width: 80px;
        height: 20px;
        border: 1px solid #74AEE7;
        border-radius: 50px;
        outline: none;
        padding-left: 10px;
        color: #206EBC;
        margin: 13px 0 0 13px;  
    }
}
.price_input {
    margin-left:16px;
}
input[type=checkbox] {
    margin: 18px 0 0 21px;
    outline: none; 
}
.label_for-price {
    color: #74AEE7;
    margin: 18px 0 0 21px;
}

.button-search {
    padding: 8px 9px;
    width: 120px;
    height: 35px;
    background-color: transparent;
    color: #206EBC;
    font-size: 14px;
    border: 1px solid #74AEE7;
    border-radius: 50px;
    box-shadow: 0px 2px 2px rgba(116, 174, 231, 0.3);
    margin-top: 24px;
    position: relative;
    left: 10%;
    outline: none;
}
