.box {
	width: 215px;
	height: 279px;
	border: 2px solid #74AEE7;
	box-sizing: border-box;
	box-shadow: 1px 4px 6px #74AEE7;
    border-radius: 30px;
    display: block;
    cursor: pointer;
    transition: transform 500ms ease-out;
    
}

.box:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.05);
 
}

.productImage{
    position: relative;
    width: 178px;
    height: 131px;
    align: center;
    margin-top: 5px;
    left: 7%;
    object-fit: cover;
}

.productName{
    position: relative;
    width: 196px;
    height: 41px;
    margin-left: 15px;
    margin-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
};

.productPrice{
    position: relative;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    padding-left: 15px;
    padding-top: 20%;
    float: left;
    color: #206EBC;
}

.buyButton{ 
    width: 90px;
    height: 42px;
    border: 1px solid #74AEE7;
    color: #206EBC;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 30px;
    margin-right: 5px;
    margin-top: 15%;
    float: right;
    background-color: transparent;
    outline: none;   
    cursor: pointer;
}
.buyButton:active {
    color: #fff;
    background-color: #74AEE7;
}

.colorr {
    color: #206EBC;
}

.colorr:active {
    color: #fff;
}